<section id="#{{ block.link }}" class="" style="background-color:{{ block.background_color }}{% if block.background_image %}; background-image: url({{ block.background_image.url }}){% endif %}">
    <div class="container">
        <h2 class="title">{{ block.image_block.title }}</h2>

        <div class="image-container" style="padding: 25px 0;">
            <img src="{% if block.image_block.image %}{{ block.image_block.image.url }}{% endif %}" alt="{{ block.image_block.title }}">
        </div>
    </div>
</section>