<section id="{{ block.link }}" class="" style="background-color:{{ block.image_block.background_color }}{% if block.image_block.background_image %}; background-image: url({{ block.image_block.background_image.url }}){% endif %}">
    <div class="container">
    {% if block.image_block.title %}
        {% include 'includes/title.html' with block=block.image_block %}
    {% endif %}

        <div class="image-container" style="padding: 25px 0;">
            <img src="{% if block.image_block.image %}{{ block.image_block.image.url }}{% endif %}" alt="{{ block.image_block.title }}">
        </div>
    </div>
</section>